.footer {
    display: flex;
    justify-content: space-between; /* Space between left and right sections */
    align-items: center; /* Center the content vertically */
    width: 100%; /* Make the footer occupy the entire width */
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed; /* Fix the footer at the bottom */
    bottom: 0;
    left: 0;
  }
  
 .right-side {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content within each section */
  }
  
  .left-side h3 {
    margin-bottom: 10px;
  }
  
  .left-side input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px 0px 0px 10px;
    border: none;
  }
  .left-side h3 {
    font-size: 24px; /* Increase font size */
    margin-bottom: 20px; /* Increase margin */
  }
  .left-side .button {
    padding: 10px 20px;
    border: none;
    
    background-color: #087cf0;
    color: black;
    cursor: pointer;
  }
  
  .right-side ul {
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap into multiple rows */
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center; /* Center the items horizontally */
    max-width: 600px; /* Set a maximum width for the container */
  }
  
  .right-side li {
    flex: 1 1 45%; /* Allow the items to take up 45% of the container width */
    margin: 5px 10px; /* Add some margin for spacing */
  }
  
  .right-side a {
    text-decoration: none;
    color: white;
  }
  
  .right-side a:hover {
    text-decoration: underline;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column; /* Stack the footer sections vertically on smaller screens */
      padding: 10px;
    }
  
    .right-side ul {
      justify-content: center; /* Center the items horizontally */
    }
  
    .right-side li {
      flex: 1 1 100%; /* Make the items take up the full width on smaller screens */
      margin: 5px 0; /* Adjust margin for spacing */
    }
  }
  @media (min-width: 1920px) {
    .footer {
      padding: 60px; /* Increase padding for larger screens */
    }
  
    .left-side h3 {
      font-size: 36px; /* Increase font size for larger screens */
      margin-bottom: 30px; /* Increase margin for larger screens */
    }
  
    .left-side input {
      padding: 15px; /* Increase padding for larger screens */
      font-size: 18px; /* Increase font size for larger screens */
    }
  
    .left-side .button {
      padding: 15px 30px; /* Increase padding for larger screens */
      font-size: 18px; /* Increase font size for larger screens */
    }
  
    .right-side ul {
      max-width: 800px; /* Increase max width for larger screens */
    }
  
    .right-side li {
      flex: 1 1 30%; /* Adjust flex basis for larger screens */
      margin: 10px 20px; /* Increase margin for larger screens */
    }
  
    .right-side a {
      font-size: 18px; /* Increase font size for larger screens */
    }
  }