/* Toast nền đen, icon trái, thanh màu */
.custom-toast {
  position: relative;
  display: grid;
  grid-template-columns: 60px 1fr auto;
  align-items: center;

  width: 17vw;
  padding: 12px 16px;
  border-radius: 8px;
  
  margin-bottom: 10px;
        
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
.success-toast {
   background: linear-gradient(
    to right,
    #d1f7ce 5%,
    #b6f8ac 35%,
    #c3f7c2 60%,
    rgba(255, 255, 255, 0.0) 100%
  );
  color: #ffffff; /* White text */
}

/* Error toast */
.error-toast {
  background: linear-gradient(
   to right,
    #fb6969 10%,
    #f99090 30%,
    #ffc3c3 60%,
        rgba(0, 198, 255, 0.0) 100%
  ); /* Red for error */
  color: #ffffff; /* White text */
}


/* Warning toast */
.warning-toast {
  background: linear-gradient(
   to right,
    #fbf857 10%,
    #f8e27f 30%,
    #f9f69d 60%,
        rgba(0, 198, 255, 0.0) 100%
  );/* Yellow for warning */
  color: #212529; /* Dark text for contrast */
}



/* Icon toast: căn trái và giữa */
.Toastify__toast-icon {
  margin-left: 8px;
  font-size: 22px;
  color: #00c6ff;
}

/* Nút đóng */
.Toastify__close-button {
  color: white;
  font-size: 18px;
}


/* Các màu phân biệt */
.success-toast {
  border-color: #4caf50;
}
.error-toast {
  border-color: #f44336;
}
.info-toast {
  border-color: #2196f3;
}
.warning-toast {
  border-color: #ff9800;
}

/* Thanh progress */
.Toastify__progress-bar {
  height: 4px;
  border-radius: 2px;
  --color   : #0072ff;
  background-image: linear-gradient(to right , #00c6ff, #0072ff);
}


/* Nút close */
.Toastify__close-button {
  color: #fff;
}
